body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

    
    .inicio{
        text-align: center;
        display: flex;
        height: 45px;
        justify-content: space-between;
    
    }
    .logo{
        display: flex;
    }
    .logo img{
        height: 150px;
        
    }
    .menu{
        width: 85%;

    }
}